<h1>{{movie.title}}</h1>

<form action="/movies/edit/{{movie._id}}" method="POST">
  <label>
    Title:
    <input type="text" name="title" value={{movie.title}} />
  </label>
  <br />

  <label>
    Genre:
    <input type="text" name="genre" value={{movie.genre}} />
  </label>
  <br />

  <label>
    Plot:
    <textarea type="text" name="plot"> {{movie.plot}}</textarea>
  </label>
  <br />

  <label>
    Cast:
    <select name="cast" multiple>
      <option disable selected value=""></option>
      {{#each remainingCelebs}}
        <option value="{{_id}}"> {{name}} </option>

      {{/each}}

      {{#each starringCelebs}}

        <option value="{{_id}}" selected> {{name}} </option>

      {{/each}}

    </select>
  </label>
  <br />

  <button type="submit"> Edit movie </button>

</form>